/*
    Author:                     William J. Horn
    Document:                   primary-style.html
    Created:                    2/18/2022 6:29PM
    Last Modified:              2/18/2022 6:29PM

    ================
    == CHANGE LOG ==
    ================

    ? @change-log-info
    ----------------------------------------------------------------------------------------------------------------------------------
    Change log is recorded with change id, denoted by: #change:xxxx-"description about change" where "xxxx" is a 4-digit hexadecimal. 
    The change id index is recorded under "@change-log" and is where all information about the change(s) are stored. Within the 
    document code, a change id is given near the sections of code that have been modified. The modified code is wrapped between two 
    comment lines that read:

        THIS    #change:xxxx-"description about change" // BEGIN // 
        AND         ...[[code affected by change]]...
        THIS    #change:xxxx-"description about change" \\ END \\

    Other non-specific changes worth documenting will be listed below "OTHER:" within each change-log record.
    ----------------------------------------------------------------------------------------------------------------------------------

    ? @change-log
    ----------------------------------------------------------------------------------------------------------------------------------
    | Date: 2/18/2022 |
    -------------------

    OTHER: -
    ----------------------------------------------------------------------------------------------------------------------------------
*/

/* GLOBAL STYLES // BEGIN // */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GLOBAL STYLES \\ END \\ */

:root {
    --dark-green: #495e57;
    --light-green: #69897e;
    --bright-green: #85bd6a;
}


header {
    background-color: var(--light-green);
    height: 250px;
    position: relative;
}

header nav {
    background-color: var(--dark-green);
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

header section {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    bottom: 25%;
    background-color: var(--dark-green);
}

header section div {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**/

.banner-side-img {
    height: 100%;
    max-width: 200px;
    object-fit: cover;
    border: 15px solid var(--dark-green);
}

#header-banner-center {
    flex: 2;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border: 15px solid var(--light-green);
}



.debug {
    height: 50px;
    width: 50px;
    background-color: red;
}