/*
    ======================
    | PRIMARY CSS STYLES |
    ==================================================================================================================================

    ? @author:                 William J. Horn
    ? @document:               primary-styles.css
    ? @document-created:       02/18/2022
    ? @document-modified:      02/20/2022

    ==================================================================================================================================

    ? @document-about
    ==================
    | ABOUT DOCUMENT |
    ==================================================================================================================================

    [Coming Soon]

    ==================================================================================================================================

    ? @document-changelog
    ======================
    | DOCUMENT CHANGELOG |
    ==================================================================================================================================

    ? @document-changelog-detailed
    For all changelog history, navigate to the changelog folder within this file's directory and open the file named:

    changelog_<this file's name>(<this file type>)

    Where <this file's name> is the name of this file and <this file type> is this file type's extension. For example, if this
    file was named "index.html", the changelog file would be named "changelog_index(html)".

    ==================================================================================================================================

    ? @document-todo
    =================
    | DOCUMENT TODO |
    ==================================================================================================================================

    -

    ==================================================================================================================================
*/




/*
    CSS GLOBAL VARIABLES // BEGIN //
*/
:root {
    --dark-green: #495e57;
    --light-green: #69897e;
    --darkest-green: #32403c;
    --bright-green: #85bd6a;
    --dark-green-transparent: rgba(73, 94, 87, 0.5);
}
/* 
    CSS GLOBAL VARIABLES \\ END \\ 
*/




/*
    GLOBAL PROPERTY DEFAULTS // BEGIN // 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    GLOBAL PROPERTY DEFAULTS \\ END \\
*/




/* 
    GLOBAL ELEMENT SELECTORS // BEGIN // 
*/
body {
    height: 2000px;
}

header {
    /* background-color: var(--light-green); */
    /* background-color: black; */
    height: 250px;
} 

nav {
    background-color: var(--light-green);
    height: 60px;
    width: 70%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}
/* 
    GLOBAL ELEMENT SELECTORS \\ END \\ 
*/






nav div {
    width: 50%;
    height: 100%;
    float: right;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    /* background-color: #32403c; */
}






/* Third-Order specificity // BEGIN // */
nav div a {
    color: white;
    font-size: 20px;
    background-color: var(--light-green);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    box-shadow: 5px 5px 10px var(--dark-green);
    border-radius: 10px;
    text-decoration: none;
    min-width: 10%;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
}

header h1 span {
    color: #394a30;
}
/* Third-Order specificity \\ END \\ */



/* Fourth-Order specificity // BEGIN // */
/* .header-text-container {
    height: 20%;
    background-color: var(--light-green);
    padding: 4px;
} */

header h1 {
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--light-green);
    padding: 4px;
    font-size: 2.25vw;
    margin: 0 auto;
}

.header-banner-container {
    height: 80%;
    position: relative;
    background-color: var(--dark-green);
    padding: 10px;
}

.header-img {
    flex: 1;
    height: 85%;
    max-width: 25%;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
}

.left-edge-round {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-edge-round {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-edge-round {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.debug {
    height: 50px;
    width: 50px;
    background-color: red;
}
/* Fourth-Order specificity \\ END \\ */



/* Fifth-Order specificity // BEGIN // */
.header-banner-container div {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Fifth-Order specificity \\ END \\ */

.header-img:hover {
    transition: 0.2s;
    flex: 2;
    max-width: 50%;
    height: 90%;
}

/* Sixth-Order specificity // BEGIN // */
nav div a:hover {
    background-color: var(--dark-green);
}

nav div a:first-of-type {
    color: #e2ffd2;
}
/* Sixth-Order specificity \\ END \\ */


/* Seventh-Order specificity // BEGIN // */
#header-img-center {
    flex: 2;
    height: 100%;
    max-width: 50%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    transition: 0.2s;
}
/* Seventh-Order specificity \\ END \\ */


